.title {
  @extend %u-font-title;
  margin-bottom: $pad / 2;
}

.subtitle {
  @extend %u-font-headline;
}

.columnWrapper {
  @include media(">tablet") {
    display: flex;
    flex-direction: row;
    width: 100%;
    * {
      flex-grow: 1;
      flex-basis: 40%;
  
      &:first-child {
        margin-right: $space;
      }
    }
  }

  @include media("<=tablet") {
    *:first-child {
      margin-bottom: $space;
    }
  }
}
