%u-font {
  &-logo {
    font-family: $font-family-primary;
    font-weight: 800;
    text-transform: uppercase;
    font-size: $font-size-base * 1.6;
    line-height: 1;
    color: $color-black;
    @include darkText($dcolor-white);
  }

  &-headline {
    font-size: $font-size-base * 2;
    line-height: 1.6;
    font-family: $font-family-secondary;
    font-weight: 300;
    color: $color-black;
    @include darkText($dcolor-white);

    @include media("<tablet") {
      font-size: $font-size-base * 1.5;
    }
    @include media("<small") {
      font-size: $font-size-base * 1.3;
    }
  }

  &-title {
    font-family: $font-family-primary;
    font-weight: 800;
    text-transform: capitalize;
    font-size: $font-size-base * 4;
    line-height: 1;
    color: $color-black;
    @include darkText($dcolor-white);

    @include media("<tablet") {
      font-size: $font-size-base * 3;
    }
    @include media("<small") {
      font-size: $font-size-base * 2;
    }
  }

}
