* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-black;
  @include darkText($dcolor-white);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  background-color: $color-white;
  // @include dark($dcolor-white);
  color: $color-black;
  @include darkText($dcolor-white);
  padding-top: 60px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $color-black;
  }
}

:global {
  .mainPad,
  .mainContent {
    padding: $pad * 3;

    @include media("<tablet") {
      padding: $pad * 2;
    }
    @include media("<small") {
      padding: $pad;
    }
  }
}

%sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
