// breakpoints for include-media
$breakpoints: (
  small: 480 / 16 * 1em,
  tablet: 768 / 16 * 1em,
  large: 1024 / 16 * 1em,
  xlarge: 1440 / 16 * 1em,
);

// fonts
$font-size-base: 1rem;
$line-height-base: 1.5;
$font-family-primary: "Montserrat", Helvetica, sans-serif;
$font-family-secondary: "Roboto Slab", serif;

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-link: rgb(25, 113, 228);
$color-table-border: #eaecef;
$color-light-grey: #f6f8fa;

// Colors for users with dark mode
$dcolor-white: $color-white;
$dcolor-black: $color-black;

// default spacing
$space: 24px;
$pad: 16px;
$gutter: 50px;
