// breakpoints for include-media
$breakpoints: (
  small: 480 / 16 * 1em,
  tablet: 768 / 16 * 1em,
  large: 1024 / 16 * 1em,
  xlarge: 1440 / 16 * 1em,
);

// fonts
$font-size-base: 1rem;
$line-height-base: 1.5;
$font-family-primary: "Montserrat", Helvetica, sans-serif;
$font-family-secondary: "Montserrat", Helvetica, sans-serif;

// Colors
$color-white: #ffffff;
$color-black: #000000;

// Colors for users with dark mode
$dcolor-white: $color-white;
$dcolor-black: $color-black;

// default spacing
$space: 24px;
$pad: 16px;
$gutter: 50px;

$bezier: cubic-bezier(0.4, 0.4, 0, 1);
