header {
  @extend .mainPad;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  overflow: hidden;
  min-height: 100px;
  transition: min-height 0.2s ease;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
  }

  .logo {
    @extend %u-font-alpha;
    margin: 0;
    pointer-events: all;
  }

  nav {
    margin-top: 3rem;
  }

  button {
    position: relative;
    border: none;
    background-color: transparent;
    padding: 8px;
    padding-right: 0;
    pointer-events: all;
    cursor: pointer;
    width: 36px;
    height: 28px;

    border: none;
    outline: none;

    &::before,
    &::after {
      content: " ";
      height: 3px;
      width: 28px;
      position: absolute;
      left: 8px;
      background-color: $color-black;
      @include dark($dcolor-white);
      transform: none;
      transition: transform 0.2s ease;
    }

    &::before {
      top: 8px;
    }

    &::after {
      bottom: 8px;
    }

    img {
      display: block;
    }
  }

  &.opened {
    min-height: 100%;

    button {
      &::before {
        transform: rotate(45deg) translate(3px, 3px);
      }
      &::after {
        transform: rotate(-45deg) translate(3px, -3px);
      }
    }
  }
}

nav {
  pointer-events: all;
  position: absolute;
}
