.gridWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $pad * 1.5;
  grid-auto-rows: 24vw;
  grid-auto-flow: dense; // Wow - this line really does all the work for you

  @include media("<tablet") {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 240px;
  }
  @include media("<small") {
    grid-gap: $pad;
    grid-template-columns: repeat(1, 1fr);
  }
}

.gridItem {
  border: 2px solid #ffa94d;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;

  &:nth-child(5n-1) {
    grid-column: span 2;
    grid-row: span 2;

    @include media("<small") {
      grid-column: span 1;
      grid-row: span 1;
    }
  }
  &:nth-child(5n-3),
  &:nth-child(6n) {
    grid-row: span 2;

    @include media("<small") {
      grid-column: span 1;
      grid-row: span 1;
    }
  }
}

.headline {
  max-width: 640px;
  padding-right: $pad;
  margin: 0;
  
  @extend %u-font-headline;

  @include media("<small") {
    padding-right: 0;
  }
}
