.headline {
    height: 75vh;
    max-height: 480px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;

    padding-bottom: $pad * 3;

    @include media("<tablet") {
        padding-bottom: $pad * 2;
    }
    @include media("<small") {
        padding-bottom: $pad;
        min-height: 0;
    }
}
